* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.main{
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,50%));
    background-color:black ;

}
.box2{
    display: flex;
    color: lightgray;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 30px;
    justify-content: space-evenly;
}
.box1{
    /* height: 100px; */
    /* width: 100px; */
    font-size: clamp(20px,3vw,40px);
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darkgray;

}
.number{
    background-color:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result_box{
    background-color: rgba(0, 0, 0, 0.249);
    font-size: 25px;
    padding: 30px;
}